<h1
  style="
    background-color: #4051b5;
    color: #ffffff;
    font-family: 'Josefin Sans', 'Arial Nova', 'Nimbus Sans', Roboto, Arial,
      sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    padding: 32px 0;
    text-align: center;
    min-height: 100%;
    width: 100%;
  "
><!-- TODO: favicon --> Minder by Custcodian
</h1>

<div
  style="
    background-color: #ffffff;
    color: #000000;
    font-family: 'Josefin Sans', 'Open Sans', 'Arial Nova', 'Nimbus Sans', Roboto, Arial,
      sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 24px 8px;
  "
>
  <p>
    <strong>{{.AdminName}}</strong> has invited you to become <strong>{{.RoleName}}</strong> in
    the <strong>{{.OrganizationName}}</strong> organization in Minder.
  </p>

  <div>Your invitation code is:
  <pre
    style="
      padding: 4px 12px;
      background-color: #36394d
      color: #ffffff
    ">{{.InvitationCode}}</pre>
  </div>

<!-- TODO: add InvitationURL here -->

  <p>
    Once you accept, you'll be able to {{.RoleVerb}} in the <strong>{{.OrganizationName}}</strong>
    organization in Minder.  To accept the invitation, you'll need to
    <a href="https://mindersec.github.io/getting_started/install_cli">download the
    <code>minder</code> command line</a> and use
    <pre>minder auth invite accept {{.InvitationCode}}</pre>
    to accept the invitation.
  </p>

  <p>
    This invitation was sent to <strong>{{.RecipientEmail}}</strong>. If you were not
    expecting it, you can ignore this email.
  </p>

  <!-- TODO: add a visual for Custcodian -->
  <p>
    <a href="https://custcodian.dev/">Minder by Custcodian</a> is an open source platform
    that helps development teams and open source communities build more secure software,
    and prove to others that what they’ve built is secure.
  </p>

  <p>
    For more about Custcodian, see https://custcodian.dev/
  </p>

  <p>
    Happy coding!
    <br>The Custcodian team
  </p>
</div>

<!-- TODO: add footer / logo -->
